@CHARSET "UTF-8";
.playerContainer { position: relative; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; color:#000000; background: #000;}
.playerContainer > .controlContainer { position: absolute; bottom: 0px; width: 100%; background: #fff;  opacity: 0.8; filter:alpha(opacity=80); }
.playerContainer .text { position: relative; float: left; margin: 0 1px; padding: 0; line-height: 24px; }
/* status */
.playerContainer > .statusContainer { position: absolute; width: 100%; height: 100%; top : 0px; left: 0px; }
.statusContainer > .videoStatusContainer { position: absolute; width: 44px; height: 44px; background: #ffffff; opacity: 0.8; filter:alpha(opacity=80); }
.videoStatusContainer > .statusButtom { width:100%; height: 100%; margin: 0 auto;}
.videoStatusContainer > .playStatus { background: url(../images/playback_play_icon&48.png) no-repeat center center; }
.videoStatusContainer > .pauseStatus { background: url(../images/playback_pause_icon&48.png) no-repeat center center; }
.videoStatusContainer > .replayStatus { background: url(../images/playback_reload_icon&48.png) no-repeat center center; }
.videoStatusContainer > .loadingStatus { background: url(../images/loading.gif) no-repeat center center; }
/* progressbar */
.controlContainer > .progressBarContainer { position: relative; height:auto; width: 100%; }
.progressBarContainer > .posPoint { position: absolute; width: 24px; height: 24px; background: url(../images/playback_rec_icon&24.png) no-repeat; }
.progressBarContainer > .progressBarBg { position: relative; padding: 0; margin: 7px 3px; height: 8px; border: 1px solid #000000; }
.progressBarBg .downloadProgressBar { position: relative; padding: 0; margin: 0; height: 8px; width: 0px;  background: #545454; }
.progressBarBg .playProgressBar { position: relative; float:left; padding: 0; margin: 0; height: 8px; width: 0px; background: #000000; }
/* control panel */
.controlContainer > .controlPanel { position: relative; height:24px; width: 100%; margin: 2px 0;}
.controlPanel .controlButtom { position: relative; float:left; margin: 0 3px; padding: 0; height:24px; width: 24px; }
/* play & stop buttom */
.controlPanel > .playButtom { background: url(../images/playback_play_icon&24.png) no-repeat; }
.controlPanel > .pauseButtom { background: url(../images/playback_pause_icon&24.png) no-repeat; }
.controlPanel > .stopButtom { background: url(../images/playback_stop_icon&24.png) no-repeat; }
/* sound panel */
.controlPanel > .soundContainer { position: relative; float:left; margin: 0 10px; padding: 0; height:24px; width: 80px; }
/* sound buttom */
.soundContainer > .muteButtom { background: url(../images/sound_mute_icon&24.png) no-repeat; }
.soundContainer > .lowSoundButtom { background: url(../images/sound_low_icon&24.png) no-repeat; }
.soundContainer > .highSoundButtom { background: url(../images/sound_high_icon&24.png) no-repeat; }
/* volume */
.soundContainer > .volumeContainer { position: relative; float:left; height: 8px; margin: 8px 0; width: 44px; border: 1px solid #000000; }
.volumeContainer > .volumeProgressBar { position: relative; float: left; padding: 0; margin: 0; height: 100%;  background: #000000; }
/* time panel */
.controlPanel > .timeContainer { position: relative; float: left; margin: 0 10px; padding: 0; height:24px; }
/* function panel */
.controlPanel > .functionContainer { position: relative; float: right; margin: 0 10px; padding: 0; height:24px; }
.functionContainer > .infoButtom { background: url(../images/info_icon&24.png) no-repeat; }
.functionContainer > .threeDButtom { background: url(../images/cube_icon&24.png) no-repeat; }
.functionContainer > .fullScreenOnButtom { background: url(../images/expand_icon&24.png) no-repeat; }
.functionContainer > .fullScreenOffButtom { background: url(../images/import_icon&24.png) no-repeat; }
.functionContainer > .lightButtom { background: url(../images/lightbulb_icon&24.png) no-repeat; }
.functionContainer > .optionButtom { background: url(../images/cogs_icon&24.png) no-repeat; }
/* vote panel */
.playerContainer > .voteContainer { position: absolute; margin: 3 3; padding: 3; height:16px; }
.voteContainer > .voteButtom { position: relative; float: left; margin: 0 3px; padding: 0; height: 16px; width: 16px; } 
.voteContainer > .star { background: url(../images/star_fav_icon&16.png) no-repeat; }
.voteContainer > .unstar { background: url(../images/star_fav_empty_icon&16.png) no-repeat; }
/* msg panel */
.playerContainer .winContainer { position: absolute; background: #ffffff; border:1px solid #000000; }
.winContainer .winContent { position: relative; margin: 0px; padding: 0; }
.winContainer > .winHeader { position: relative; top: 0px; height: 24px; width: 100%; margin: 0; padding: 0; }
.winHeader > .winIcon { position: relative; float: left; margin: 4px; padding: 0; width: 16px; height:16px; }
.winHeader > .winTitle { position: relative; float: left; margin: 4px; padding: 0; height:16px; }
.winHeader > .winClose { position: relative; float: right; margin: 4px; padding: 0; width: 16px; height:16px; background: url(../images/delete_icon&16.png) no-repeat; }
.winHeader > .winWithdraw { position: relative; float: right; margin: 4px; padding: 0; width: 16px; height:16px; background: url(../images/br_down_icon&16.png) no-repeat; }
.winHeader > .msgTitleIcon { background: url(../images/message_attention_icon&16.png) no-repeat; }
.winHeader > .threeDTitleIcon { background: url(../images/box_icon&16.png) no-repeat; }
.winHeader > .optionTitleIcon { background: url(../images/cogs_icon&16.png) no-repeat; }
/* button */
.playerContainer .btnContainer { padding: 5px 0px; margin: 0 auto; position: relative; }
.btnContainer  .btnContent { padding: 0 3px; margin: 0; margin:0 0 0 22px; position: relative; }
.btnContainer  .btnCheckbox { height: 16px; width: 16px; position: absolute; }
.btnContainer  .btnChecked { background: url(../images/checkbox_checked_icon&16.png) no-repeat; }
.btnContainer  .btnUnchecked { background: url(../images/checkbox_unchecked_icon&16.png) no-repeat; }
/* mask */
.wrappermask { position: fixed; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; filter:alpha(opacity=80); display: block; width: 100%; height: 100%; }
.winmask { position: absolute; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; filter:alpha(opacity=80); display: block; width: 100%; height: 100%; }